@model BizLinkk.Models.Partner

@{
	ViewData["Title"] = "Delete Partner";
}

<h3>Are you sure you want to delete this item?</h3>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="PartnerId" />
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>

<!-- Editable fields displayed in table form -->
<table class="table table-bordered">
    <tbody>
        <tr>
            <th class="text-right">Name:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th class="text-right">Registration No:</th>
            <td>@Model.RegistrationNo</td>
        </tr>
        <tr>
            <th class="text-right">Vat Reg No:</th>
            <td>@Model.VatRegNo</td>
        </tr>
        <tr>
            <th class="text-right">Rcoc:</th>
            <td>@Model.Rcoc</td>
        </tr>
        <tr>
            <th class="text-right">Rcoe:</th>
            <td>@Model.Rcoe</td>
        </tr>
        <tr>
            <th class="text-right">Rctc:</th>
            <td>@Model.Rctc</td>
        </tr>
        <tr>
            <th class="text-right">Rcte:</th>
            <td>@Model.Rcte</td>
        </tr>
    </tbody>
</table>